version: '3.1'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    network_mode: "host"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    network_mode: "host"

  tgbot:
    container_name: bot
    build: .
    volumes:
      - .:/src
    command: python app.py
    restart: always
    network_mode: "host"

    env_file:
      - ".env"

